@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.products{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-family: "Quicksand", sans-serif;

}